<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="~/images/cinema-logo.png">
    <title>Ohayou Cinema</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/css/gueststyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="header">
        <div class="container-fluid  p-4">
            <div class="row align-items-center">
                <div class="col-md-2 px-5 py-1">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                        <img src="~/images/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 buyticket-area">
                    <button type="button" class="buyticket-btn btn">
                        <img src="~/images/btn-ticket.png" alt="" class="img-buy-btn img-fluid">
                    </button>
                </div>
                <div class="col-md-5">
                    <ul class="list-gr-1 list-group d-flex flex-row">
                        <li class="list-group-item cinema-corner text-center">
                            Góc Điện Ảnh
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="@Url.Action("MovieType","Home")">Thể loại phim</a></li>
                                <li><a href="@Url.Action("Actor","Home")">Diễn viên</a></li>
                                <li><a href="@Url.Action("Director","Home")">Đạo diễn</a></li>
                                <li><a href="@Url.Action("Review","Home")">Bình luận phim</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item event-list text-center">
                            Sự Kiện
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="favors.html">Ưu đãi</a></li>
                                <li><a href="#">Phim hay tháng</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-md-1">
                    <button class="search-btn btn">
                        <i class="search-icon ti-search"></i>
                    </button>
                </div>
                <div class="login-area col-md-2">
                    <div class="hidden-login js-hidden-login">
                        <button class="login-btn btn js-login-btn">
                            Đăng Nhập
                        </button>
                        <img class="g-star-img" src="~/images/gstar.svg" alt="G-star">
                    </div>
                   <div class="show-login js-show-login">
                        <div class="account-wrapper">
                            <img src="~/images/account.png" alt="" class="img-fluid account-img">
                            <ul class="list-group account-list">
                                <li class="list-group-item"><a href="#"><i class="fa-solid fa-id-badge account-icon"></i>
                                    Tài Khoản</a></li>
                                <li class="list-group-item"><a href="#"><i class="fa-solid fa-list-ol account-icon"></i>
                                    Lịch Sử</a></li>
                                <li class="list-group-item"><a href="#" class="js-logout"><i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                    Đăng Xuất</a></li>
                            </ul>
                        </div>
                    </div> 
                     <div class="modal js-modal">
                        <div class="login-container" id="js-login-container">
                            <div class="form-container sign-up">
                                <form method="post" action="/Account/Register">
                                    <h1>Tạo Tài Khoản</h1>
                                    <input type="text" name="fullName" required placeholder="Họ và Tên">
                                    <input type="email" name="email" required placeholder="Email">
                                    <input type="tel" name="phoneNumber" required placeholder="Số điện thoại">
                                    <input type="password" name="password" required placeholder="Mật khẩu">
                                    <button type="submit">Đăng Ký</button>
                                </form>
                            </div>

                            <div class="form-container sign-in">
                                <form>
                                    <h1>Đăng Nhập</h1>
                                        <input type="email" required placeholder="Email">
                                        <input type="password" required placeholder="Password">
                                        <a href="#">Quên mật khẩu?</a>
                                        <button class="js-signin">Đăng Nhập</button>
                                </form>
                            </div>
                            <div class="toggle-container">
                                <div class="toggle">
                                    <div class="toggle-panel toggle-left">
                                        <h1>Đã có tài khoản?</h1>
                                        <p>Đăng nhập với tài khoản đã có</p>
                                        <button class="hidden" id="js-login">Đăng Nhập</button>
                                    </div>
                                    <div class="toggle-panel toggle-right">
                                        <h1>Chưa có tài khoản?</h1>
                                        <p>Đăng ký tài khoản với thông tin cá nhân của bạn</p>
                                        <button class="hidden" id="js-register">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <!-- Cột 1: Giới thiệu -->
                <div class="col-md-4">
                    <h5>Giới thiệu</h5>
                    <p>Website đặt vé phim online nhanh chóng, tiện lợi với nhiều ưu đãi hấp dẫn.</p>
                </div>

                <!-- Cột 2: Liên hệ -->
                <div class="col-md-4">
                    <h5>Liên hệ</h5>
                    <p>Email: support@rapphim.com</p>
                    <p>Hotline: 1900 123 456</p>
                    <p>Địa chỉ: 123 Đường ABC, TP.HCM</p>
                </div>

                <!-- Cột 3: Mạng xã hội -->
                <div class="col-md-4">
                    <h5>Kết nối với chúng tôi</h5>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- Bản quyền -->
            <div class="text-center mt-3">
                <p>&copy; 2025 Rạp Phim. All rights reserved.</p>
            </div>
        </div>
    </footer>
    @if (TempData["Error"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    html: '@Html.Raw(TempData["Error"])',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'Đóng'
                });
            });
        </script>
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>