@{
    ViewData["Title"] = "Home Page";
}
 @model List<RapPhim3.Models.Movie>
<style>
    .slider img {
        height: 400px; /* Điều chỉnh chiều cao */
        object-fit: cover;
    }
</style>
<div class="slider">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < ((List<RapPhim3.Models.Movie>)ViewBag.TopMovies).Count; i++)
            {
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-label="Slide @(i+1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @foreach (var movie in ViewBag.TopMovies)
            {
                <div class="carousel-item @(movie == ViewBag.TopMovies[0] ? "active" : "")">
                    <img src="@Url.Content(movie.LandscapeImage)" class="d-block w-100" alt="@movie.Title">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="content">
    <ul class="list">
        <li class="item1">
            PHIM
        </li>
        <li class="item">
            <a href="#playing" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#playing" aria-expanded="false">Đang chiếu</a>
        </li>
        <li class="item">
            <a href="#coming" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#coming" aria-expanded="false">Sắp chiếu</a>
        </li>
    </ul>

    <div class="list1" id="playing">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-md-3">
                    <img src="@Url.Content(movie.PortraitImage)" alt="" class="img-fluid img-movie">
                    <button class="buy-ticket-btn btn">
                        <i class="ti-ticket"></i>
                        Mua vé
                    </button>
                    <a href="#" class="text-dark-emphasis movie-name">@movie.Title</a>
                </div>
            }
        </div>
    </div>
</div>
