@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Buy Ticket";
}
@model RapPhim3.ViewModel.BuyTicketViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/bookticket.css" />
}

<div class="container mt-4">
    <div class="card p-4">
        <h4 class="fw-bold">Chọn phim - @Model.Movie.Title</h4>
        <image src="@Model.Movie.PortraitImage" style="height:200px ; width:fit-content"></image>
        <!-- Chọn suất -->
        <div class="mt-3">
            <h5 class="fw-bold">Chọn suất</h5>
            <div id="show-date-buttons" class="d-flex gap-2 mt-2">
                @foreach (var date in Model.ShowDates)
                {
                    <button class="btn btn-outline-primary show-date-btn" data-date="@date.ToString("yyyy-MM-dd")">
                        @date.ToString("dddd dd/MM")
                    </button>
                }
            </div>
            <div id="show-times" class="mt-3"></div>
        </div>

        <!-- Chọn ghế -->
        <div class="mt-4">
            <h5 class="fw-bold">Chọn ghế</h5>
            <div id="seat-container" class="seat-grid"></div>
        </div>

        <!-- Thông tin đặt vé -->
        <div class="summary mt-4 p-3 border rounded">
            <h6 class="fw-bold">Tóm tắt đặt vé</h6>
            <p>Phim: @Model.Movie.Title</p>
            <p>Ghế: <span id="selected-seats"></span></p>
            <hr>
            <div class="d-flex justify-content-between fw-bold">
                <span>Tổng cộng</span>
                <span id="total-price">0 đ</span>
            </div>
        </div>

        <div class="mt-3 d-flex justify-content-between">
            <button class="btn btn-secondary" onclick="window.location.href='/home/index'">Quay lại</button>
            <button class="btn btn-warning">Tiếp tục</button>
        </div>
    </div>
</div>

<!-- Modal chọn phương thức thanh toán -->
<div class="modal fade" id="paymentModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn phương thức thanh toán</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>
                    <input type="radio" name="paymentMethod" value="bankTransfer" checked> Chuyển khoản ngân hàng
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#paymentModal">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".show-date-btn").click(function () {
                var selectedDate = $(this).data("date");
                var movieId = @Model.Movie.Id;

                $.get(`/User/GetShowTimes?movieId=${movieId}&selectedDate=${selectedDate}`, function (data) {
                    var html = "";
                    data.forEach(time => {
                        html += `<button class="btn btn-primary show-time-btn" data-id="${time.id}">${time.time}</button>`;
                    });
                    $("#show-times").html(html);
                });
            });

                    $(document).on("click", ".show-time-btn", function () {
            var showTimeId = $(this).data("id");

            $.get(`/User/GetSeats?showTimeId=${showTimeId}`, function (data) {
                var html = "";
                data.forEach(group => {
                    html += `<h6 class="fw-bold">${group.seatType} - Giá: ${group.seats[0].price} đ</h6>`;
                    html += "<div class='row'>";
                    group.seats.forEach(seat => {
                       html += `<button class="seat" data-id="${seat.id}" data-price="${seat.price}">${seat.seatNumber}</button>`;
                    });
                    html += "</div>";
                });
                $("#seat-container").html(html);
            });
        });


            $(document).on("click", ".seat:not(.occupied)", function () {
                $(this).toggleClass("selected");
                updateSummary();
            });

                   function updateSummary() {
            var selectedSeats = $(".seat.selected").map(function () { return $(this).text(); }).get();
            var seatTotal = 0;

            $(".seat.selected").each(function () {
                seatTotal += parseInt($(this).data("price"));
            });
            var totalPrice = seatTotal;

            $("#selected-seats").text(selectedSeats.join(", "));
            $("#total-price").text(totalPrice.toLocaleString("vi-VN") + " đ");
        }

        });
    </script>
    <script>
        $(document).ready(function () {
            $("#confirmPayment").click(function () {
                var paymentMethod = $("input[name='paymentMethod']:checked").val();
                if (paymentMethod === "bankTransfer") {
                    var selectedSeats = $("#selected-seats").text();
                    var totalPrice = $("#total-price").text();
                    var showTime = $(".show-time-btn.active").text();

                    window.location.href = `/user/bankPayment?seats=${selectedSeats}&price=${totalPrice}&showtime=${showTime}`;
                }
            });
        });
    </script>


}