@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css">
}
<div class="line-default"></div>
<div class="container-fluid wrapper">
    <div class="container wrapper-content">
        <div class="row title-row">
            <i class="fa-solid fa-gauge"></i>
            <span class="link-name">Tổng quan</span>
        </div>
        <div class="row list">
            <div class="col-md-3 frame">
                <a href="@Url.Action("List","Admin")">
                    <div class="row frame-item">
                        <div class="col-md-3 icon">
                            <i class="fa-solid fa-film"></i>
                        </div>
                        <div class="col-md-9 item">
                            <p class="number">@ViewBag.MovieCount</p>
                            <p class="element">Phim</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3 frame">
                <a href="@Url.Action("ListShowTimes", "Admin")">
                    <div class="row frame-item">
                        <div class="col-md-3 icon">
                            <i class="fa-regular fa-calendar-days"></i>
                        </div>
                        <div class="col-md-9 item">
                            <p class="number">@ViewBag.ShowTimeCount</p>
                            <p class="element">Suất chiếu</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3 frame">
                <a href="@Url.Action("ListTickets", "Admin")">
                    <div class="row frame-item">
                        <div class="col-md-3 icon">
                            <i class="fa-regular fa-calendar-days"></i>
                        </div>
                        <div class="col-md-9 item">
                            <p class="element">Vé</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row list">
            <div class="col-md-3 frame">
                <a href="@Url.Action("ListCustomer", "Admin")">
                    <div class="row frame-item">
                        <div class="col-md-3 icon">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="col-md-9 item">
                            <p class="number">@ViewBag.CustomerCount</p>
                            <p class="element">Khách hàng</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-3 frame">
                <a href="@Url.Action("Revenue", "Admin")">
                    <div class="row frame-item">
                        <div class="col-md-3">
                            <div class="circular-progress">
                                <span class="progress-value"></span>
                            </div>

                        </div>
                        <div class="col-md-9 item">
                            <span class="progress-value">@ViewBag.TotalRevenue.ToString("C")</span>
                            <p class="element">Doanh thu</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
       